@use "base/mixins" as m;
@use "base/variables" as v;

.input{
    border: 1px solid v.$azul-claro;
    background-color: v.$blanco;
    border-radius: 3rem;
    color: v.$azul-claro;
    font-family: 'GorditaRegular';
    width: 100%;
    font-size: .8rem;
    padding: .8rem 1.2rem;
    @media (min-width: v.$desktop){
        font-size: 1rem;
        padding: 1rem 2rem;
    }
}